
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hero Container */
.hero {
    background-color: #1f2937;
    padding-bottom: 60px;
}

/* Navigation Section */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.navBar img {
    width: 50px;
    height: auto;
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks a {
    font-size: 18px;
    color: #e5e7eb;
}

/* Hero content */
.heroContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 2rem;
}

.heroText {
    max-width: 50%;
}

.heroText h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

.heroText p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 25px;
}

.heroImage {
    border: solid white 2px;
}

.heroImage img {
    max-width: 500px;
    max-height: 250px;
}

/* Buttons color */
button {
    background-color: #3882F6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
}

/* Images section */ 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageFlex {
    display: flex;
    flex-direction: row;
}

.imageCard {
    max-height: 300px;
}

figure {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    border: solid rgb(29, 56, 209) 2px;
    border-radius: 15px;
    padding: 8px;
}

figcaption {
    text-align: center;
}

/* Quote section */
.randomQuote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

blockquote {
    max-width: 750px;
    max-height: 360px;
}

blockquote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

/* Call to action */
.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.callToAction > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color:#e5e7eb;
    border-radius: 10px;
    padding: 30px 40px;
    width: 60%;
    max-width: 800px;
    min-width: 300px;
}
.callToAction h4, .callToAction p {
    margin: 0;
}

.callToActionText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.callToAction button {
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    background-color: #1f2937;
    color:#F9FAF8;
    padding: 20px 20px;
    height: 80px;
}