* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #1f2937;
    overflow-x: hidden;
}

/* Navigation Section */

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.navBar img {
    width: 50px;
    height: auto;
}

.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.navLinks a {
    font-size: 1rem;
    color: #e5e7eb;
}

/* Hero Section */
.hero {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 2rem 1rem;
    text-align: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 1.5rem;
}

.heroText h1{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.heroText p {
    font-size: 1rem;
    color: #e5e7eb;
    margin-bottom: 1rem;
}

.heroImage img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 2px solid white;
    border-radius: 8px;
}

/* Buttons */
button {
    background-color: #3882F6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Images section */ 

.images {
    text-align: center;
    padding: 2rem 1rem;
}

.images h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.imageFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.imageCard {
    max-width: 90%;
}

.imageCard img {
    width: 100%;
    height: auto;
    border: 2px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 1rem;
}

figcaption {
    font-size: 0.9rem;
    color: #1f2937;
}

/* Quote section */
.randomQuote {
    background-color: #e5e7eb;
    padding: 3rem 1rem;
    text-align: center;
}

.randomQuote blockquote {
    max-width: 90%;
    margin: 0 auto;
}

.randomQuote p {
    font-size: 1.25rem;
    color: #1f2937;
    margin-bottom: 1rem;
}

.randomQuote cite {
    font-size: 1rem;
}

/* Call to action */
.callToAction {
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    margin: 2rem 1rem;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.callToAction h4 {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.callToAction p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.callToAction button {
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    background-color: #1f2937;
    color:#F9FAF8;
    padding: 1rem 0;
}